@media (min-width: 1024px) {
    .search {
        margin: 50px;
        margin-top: 20px;
    }

    .filters {
        margin: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .results {
        margin: 50px;
    }

    .beer-info {
        margin: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .search {
        margin: 35px;
        margin-top: 15px;
    }

    .filters {
        margin: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .results {
        margin: 35px;
    }

    .beer-info {
        margin: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .search {
        margin: 25px;
        margin-top: 10px;
    }

    .filters {
        margin: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .results {
        margin: 25px;
    }

    .beer-info {
        margin: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

#search {
    width: 100%;
}