{% extends "base.html" %}


{% block banner %}
  <!-- beer banner -->
  <div class="row">
    <div class="col-md-12 p-0">
      <img class="img-fluid w-100" src="{{ url_for('static', filename='images/ales-1275x503.jpg') }}"
      alt="Yummy beer!">
    </div>
  </div>
{% endblock %}

{% block search %}
  <!-- search bar -->
  <div class="row search">
    <div class="active-cyan-12" id="search">
      <input class="form-control" type="text" placeholder="Describe your dream beer..." name="text">
    </div>
  </div>

  <!-- filters -->
  <div class="row filters">
    <div class="col-md-4">
      <div class="row">
       <p>ABV:</p>
      </div>
      <div class="row active-cyan-4 mb-4">
        <input class="form-control" type="number" placeholder="5" name="abv" id="abv">
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <p>Bitterness:</p>
      </div>
      <div class="row active-cyan-4 mb-4">
        <input class="form-control" type="text" placeholder="yes" name="bitter" id="bitter">
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <p>Number of Results:</p>
      </div>
      <div class="row active-cyan-4 mb-4">
        <input class="form-control" type="number" placeholder="1" name="neighbors" id="neighbors">
      </div>
    </div>
  </div>

  <!-- submit button -->
  <div class="row">
    <div class="col-md-12 p-0">
      <input type="submit" value="Beer Search" id="submit">
    </div>
  </div>
</form>
{% endblock %}


{% block results %}
  <!-- results -->
  {% if results %}
    {% for result in results %}
    <div class="row search">
      <p>{{result}}</p>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}