{% extends "base.html" %}


{% block banner %}
  <!-- beer banner -->
  <div class="row">
    <div class="col-md-12 p-0">
      <img class="img-fluid w-100" src="{{ url_for('static', filename='images/ales-1275x503.jpg') }}"
      alt="Yummy beer!">
    </div>
  </div>
{% endblock %}

{% block search %}
  <!-- search bar -->
  <div class="row search">
    <div class="active-cyan-12" id="search">
      <input class="form-control" type="text" placeholder="Describe your dream beer..." value="{{ request.form['text']}}" name="text" pattern=".{,255}" required title="255 characters maximum">
    </div>
  </div>

  <!-- filters -->
  <div class="row filters">
    <div class="col-md-4">
      <div class="row">
       <p>ABV:</p>
      </div>
      <div class="row active-cyan-4 mb-4">
        <input class="form-control" type="number" value="{{ request.form['abv'] or 5 }}" name="abv" id="abv" min="0" max="50">
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <p>Bitterness:</p>
      </div>
      <div class="row active-cyan-4 mb-4">
        <select class="form-control" name="bitter" id="bitter">
          {% if request.form['bitter'] == 'no' %}
            <option value="yes">More Bitter</option>
            <option value="no" selected>Less Bitter</option>
          {% else %}
            <option value="yes" selected>More Bitter</option>
            <option value="no">Less Bitter</option>
          {% endif %}
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <p>Number of Results:</p>
      </div>
      <div class="row active-cyan-4 mb-4">
        <input class="form-control" type="number" value="{{ request.form['neighbors'] or 1 }}" name="neighbors" id="neighbors" min="1" max="10">
      </div>
    </div>
  </div>

  <!-- submit button -->
  <div class="row">
    <div class="col-md-12 p-0">
      <input type="submit" value="Find My Beer" id="submit">
    </div>
  </div>
</form>
{% endblock %}


{% block results %}
  <!-- results -->
  {% if results %}
    <div class="row results">
      <div class="col-md-12">
        {% if results|length > 1 %}
          <h3>We found {{results|length}} beers for you!</h3>
        {% else %}
          <h3>We found a beer for you!</h3>
        {% endif %}
      </div>
    </div>
    {% for result in results %}
    <div class="row beer-info">
      <h5>{{details[result]['beer_name']}}</h5>
    </div>
    <div class="row beer-info">
      <p>ABV: {{details[result]['abv']}}% Bitterness: {{details[result]['bitter']}}</p>
    </div>
    <div class="row beer-info">
      <p>{{details[result]['text']}}</p>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}